.history

# python gitignore
.venv
**/__pycache__
**/.pytest_cache
**/dist
**/package
**/lambda_bundle.zip

**/.DS_Store

# terraform gitignore
# Local .terraform directories
**/.terraform*
!**/.terraform.lock.hcl

# .tfstate files
**/*.tfstate
**/*.tfstate.*

*.pem

.env
.env.*
!.env.example

firebase.admin*.json

node_modules
.yarn

auth.*.json
volumes
.idea
