go 1.21.3

use (
	./functions/authentication
	./functions/collecting
	./functions/flashcard
	./functions/suggestion
	./functions/translation
	./packages/authentication
	./packages/suggestion
	./packages/translation
)
