go 1.21.3

use (
	./functions/collecting
	./functions/flashcard
	./functions/suggestion
	./functions/translation
	./packages/authentication
	./packages/common
	./packages/context
	./packages/message
	./packages/suggestion
	./packages/translation
	./services/suggestions
)
