go 1.21.3

use (
	./functions/collecting
	./functions/flashcard
	./functions/suggestion
	./functions/translation
	./functions/utils
	./packages/authentication
	./packages/common
	./packages/message
	./packages/suggestion
	./packages/translation
	./packages/user
	./services/suggestions
	./utils
)
